body {
    width: 100vw;
    height: 100vh;
    background: url(img/toi.jpg);
    background-size: cover;
}

main {
    width: 400px;
    border-radius: 20px;
}

#write,
#result {
    height: 72px;
    font-size: 50px;
    font-weight: bold;
    overflow: hidden;

}

button {
    width: 85px;
    height: 85px;
}

#btn0 {
    width: 175px;
    border-radius: 50px;
    padding-left: 32px;
}

.btn {
    font-size: 32px;
    font-weight: bold;

}



/* sáng tối */
* {
    transition: 1.25s;
}
.btn1 {
    top: 20px;
    right: 10px;
    width: 100px;
    height: 40px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    background-color: black;
}



.icon {
    width: 28px;
    height: 28px;
    background-color: blue;
    border-radius: 100%;
    margin-left: 52px;

}

.dark {
    background: none;
}

.dark2 {
    background: url(img/sang.jpg);
    background-size: cover;

}

.dark1 {
    margin-left: 0px;
}